$screenWidthSmall: 600px;
$screenWidthMedium: 1000px;
$screenWidthLarge: 1400px;

$headingfontsize: 90px;
$primaryFontColor: white;
$primaryColor: #A6E1FA;
$secondaryColor: #E28413;

$fontSizeH1Mobile: 20px;
$fontSizeH1Small: 28px;
$fontSizeH1Medium: 32px;
$fontSizeH1Large: 36px;



// Nav Variables
$navbarHeight: 64px;
$navContentWidthMobile: 95vw;
$navContentWidthMedium: calc(75vw + 20px);
$navContentWidthLarge: calc(75vw + 40px);

$navLogoSize: 24px;
$navLogoFontSize: 20px;

$secondaryFontColor: #A6E1FA;

$widthTagFilterBannerMedium: 600px;
$widthTagFilterBannerLarge: 600px;