@import '../../design-tokens/scss-variables';
.content {
  /* Positioning */
  position: relative;
  z-index: 2;

  /* Display & Box Model */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  // align-items: center;
  // margin: 0 auto;

}

.GridContent {
  /* Display & Box Model */
  max-width: 100%;
  // padding-top: 64px;
}

.GridColumn {
  /* Other */
  background: none;
}


