.action-buttons {
  display: flex;
  flex-direction: row;
  overflow: hidden;

  img {
    /* Display and Box Model */
    height: 80px;
    width: 80px;

    transition: all ease-in-out 0.2s;

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }
}