.Filter {
  /* Display & Box Model */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 0 16px;

  .FilterOption {
    margin: 16px 0;

    input {
      margin-right: 16px;
    }

    label:hover {
      cursor: pointer;
    }
  }
}