@import '../../../design-tokens/scss-variables';
.spinner {
  height: 32px;
  width: 32px;
  font-size: 32px;
  color: $secondaryColor;
}

@media (min-width: $screenWidthSmall) {
  .spinner {
    height: 48px;
    width: 48px;
    font-size: 48px;
  }
}