@import "../../design-tokens/scss-variables";

.FlexColumnCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ThreadView {
  /* Positioning */
  position: fixed;
  z-index: 4;

  /* Display & Box Model */
  width: 100%;
  height: 100%;

  .Backsplash {
    /* Display & Box Model */
    width: 100%;
    height: 100%;

    /* Other */
    background-color: rgba(0, 0, 0, 0.9);
  }

  .ThreadViewContent {
    /* Display & Box Model */
    width: 100%;
    height: 100%;

      .ThreadAssetContainer {
        /* Display & Box Model */
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        /* Other */
        background-color: transparent;

        .ThreadViewAsset {
          /* Display & Box Model */
          background-color: black;
        }
      }
  }
}

