@import '../../../design-tokens/scss-variables';
.NavigationArrow {
  /* Display & Box Model */
  width: 44px;
  height: 44px;

  &:hover {
    /* Other */
    cursor: pointer;
  }
}

@media (min-width: $screenWidthSmall) {
  .NavigationArrow {
    width: 60px !important;
    height: 60px !important;
  }
}

@media (min-width: $screenWidthMedium) {
  .NavigationArrow {
    width: 80px !important;
    height: 80px !important;
  }
}

@media (min-width: $screenWidthLarge) {
  .NavigationArrow {
    width: 120px !important;
    height: 120px !important;
  }
}