@import "../../../design-tokens/scss-variables";
.NavBar {
  /* Positioning */
  position: fixed;
  z-index: 4;

  /* Display & Box Model */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: $navbarHeight;
  width: 100vw;

  /* Other */
  background-color: #0d0d0d;

  .NavContent {
    /* Display & Box Model */
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    width: $navContentWidthMobile;
  }

  .NavLogoContainer {
    /* Display & Box Model */
    display: flex;
    flex-direction: row;
    align-items: center;

    .NavLogo {
      /* Display & Box Model */
      display: flex;
      flex-direction: row;

      img {
        /* Display & Box Model */
        width: $navLogoSize;
        height: $navLogoSize;

        &:hover {
          cursor: pointer;
        }
      }

      p {
        /* Display & Box Model */
        padding: 0;
        margin: 0;
        margin-left: 8px;

        /* Other */
        font-size: $navLogoFontSize;
        color: $primaryColor;
        text-decoration: none;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .NavBrand {
    display: flex;
    flex-direction: row;
    align-items: center;

    .NavBrandLink {
      text-decoration: none;
    }

    .NavBrandContent {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .NavBrandLogo {
      /* Display & Box Model */
      display: flex;
      flex-direction: row;

      .NavBrandLogoImg {
        /* Display & Box Model */
        width: $navLogoSize;
        height: $navLogoSize;
        color: $secondaryColor;

        &:hover {
          cursor: pointer;
        }
      }
    }

    .NavBrandText {
      /* Display & Box Model */
      padding: 0;
      margin: 0;
      margin-left: 8px;

      /* Other */
      font-size: $navLogoFontSize;
      color: $primaryColor;
      text-decoration: none;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .Center {
    /* Positioning */
    position: relative;

    /* Display & Box Model */
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-column-gap: 16px;
    align-items: center;
    .Dice {
      width: 24px;
      height: 28px;
      &:hover {
        cursor: pointer;
      }
    }
  }

  .Right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}

@media (min-width: $screenWidthMedium) {
  .NavBar {
    .NavContent {
      width: $navContentWidthLarge;
    }
  }
}

@media (min-width: $screenWidthLarge) {
  .NavBar {
    .NavContent {
      width: $navContentWidthLarge;
    }
  }
}
